## Задача 1

In [1]:
import pandas as pd
import numpy as np

- Скачать файл в уроке
- Считать данные с помощью pandas

In [2]:
df = pd.read_csv('kc_house_data.csv', encoding = 'windows-1251')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

- Вывести на экран первые 5 строк

In [3]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

- Посмотреть на описание признаков и на их содержание

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

## Задача 2

- Проведите первичный анализ данных
- Изучите типы данных

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

- Найдите количество пропущенных ячеек в данных

In [9]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

- Посчитайте основные статистики по всем признакам и поизучайте их

In [10]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [16]:
df.describe(include=object)

                   date
count             21613
unique              372
top     20140623T000000
freq                142

## Задача 3

### 3.1

В каком диапазоне изменяются стоимости недвижимости?

In [21]:
df.head(3) # Для удобства выведем заголовки таблицы

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062

In [22]:
df['price'].value_counts()

350000.0     172
450000.0     172
550000.0     159
500000.0     152
425000.0     150
            ...
607010.0       1
1362500.0      1
298800.0       1
957500.0       1
402101.0       1
Name: price, Length: 4028, dtype: int64

### 3.2

Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [29]:
round((df['sqft_living'].sum()/df['sqft_lot'].sum() * 100), 2)

13.77

### 3.3

Как много домов с разными этажами в данных?

In [31]:
df['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

### 3.4

Насколько хорошие состояния у домов в данных?

In [33]:
df['condition'].value_counts()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

In [46]:
round(df['condition'].value_counts(normalize=True)*100)

3    65.0
4    26.0
5     8.0
2     1.0
1     0.0
Name: condition, dtype: float64

### 3.5

Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [39]:
df['yr_built'].min(), df['yr_built'].max()

(1900, 2015)

## Задача 4

### 4.1

Сколько в среднем стоят дома, у которых 2 спальни?

In [47]:
round((df[df['bedrooms']==2]['price'].mean()),2)

401372.68

### 4.2

Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [52]:
round(df[df['price']>600000]['sqft_lot'].mean(),2)

20442.52

### 4.3

Как много домов коснулся ремонт?

In [54]:
df[df['yr_renovated']!=0].shape[0]

914

### 4.4

Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [61]:
price_grade_10 = round(df[(df['grade'] > 10)]["price"].mean(),2) #  Средняя стоимость домов с оценкой 10
price_grade_10

1678635.12

In [63]:
price_grade_4 = round(df[(df['grade'] < 4)]["price"].mean(),2) #  Средняя стоимость домов с оценкой 4
price_grade_4

189750.0

In [64]:
cost_difference = price_grade_10 - price_grade_4 # Разница в стоимости домов с оценкой 10 и 4
cost_difference

1488885.12

## Задача 5. Выберите дом клиенту

### 5.1

Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [66]:
df[(df['waterfront']==1) & (df['bathrooms']>=3) & (df['sqft_basement']!=0)].shape[0]

41

### 5.2

Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [76]:
house_type = df[((df['view']==4) | (df['waterfront']==1)) & (df['grade']>=11) & (df['yr_built']>=1980)]['price']
house_type.sort_values()

8568      750000.0
21050     900000.0
10665    1010000.0
2713     1110000.0
20923    1149000.0
12429    1169000.0
10385    1228000.0
16260    1250000.0
16837    1300000.0
13770    1350000.0
20005    1400000.0
14774    1612500.0
7269     1615000.0
8174     1625000.0
15668    1680000.0
13068    1698890.0
11829    1785000.0
5749     1850000.0
3157     1899000.0
6501     1940000.0
7700     2150000.0
6233     2200000.0
21201    2230000.0
12777    2280000.0
11402    2300000.0
4013     2400000.0
15828    2480000.0
17558    2510000.0
16817    2574000.0
18455    2700000.0
4190     2880500.0
20325    3000000.0
7313     3100000.0
12872    3100000.0
10465    3120000.0
13528    3168750.0
11535    3200000.0
15482    3200000.0
2444     3278000.0
14083    3300000.0
15255    3640900.0
19017    3800000.0
2085     3850000.0
2626     4500000.0
8092     4668000.0
1164     5110800.0
1315     5300000.0
1448     5350000.0
9254     6885000.0
Name: price, dtype: float64

In [74]:
house_type.max(), house_type.min()

(6885000.0, 750000.0)

### 5.3

Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [82]:
condition_house_type = df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] < 150000)]
condition_house_type

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
2589,5061300030,20140508T000000,134000.0,2,1.50,980,5000,2.0,0,0,...,7,980,0,1922,2003,98014,47.7076,-121.359,1040,5000
10105,5466310060,20150324T000000,139500.0,2,1.50,1230,1561,2.0,0,0,...,7,1230,0,1983,0,98042,47.3768,-122.149,1660,2243
15610,7614100080,20150211T000000,140000.0,3,1.75,1270,8991,2.0,0,0,...,7,1270,0,1981,0,98042,47.3563,-122.149,1270,8993
18332,9272202260,20140924T000000,130000.0,3,1.00,1200,7000,2.0,0,0,...,7,1200,0,1908,0,98116,47.5883,-122.384,3290,6000
18939,4239400300,20141129T000000,90000.0,3,1.00,980,2490,2.0,0,0,...,6,980,0,1969,0,98092,47.3170,-122.182,980,3154
18988,7399100210,20141126T000000,140000.0,3,1.50,1200,2002,2.0,0,0,...,8,1200,0,1966,0,98055,47.4659,-122.189,1270,1848

In [83]:
round(condition_house_type.condition.mean(),2)

2.83